<div class="form-container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <h3 class="text-center">Define the Recipe of your Cocktail</h3>

    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description, placeholder: "3cl, 2 slices..." %>
      <%= f.input :ingredient_id, collection: @ingredients %>
      <div class="form-action">
        <%= f.button :submit, class: "btn btn-primary" %>
        <%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>

